html{
	scroll-behavior: smooth;
}

#footer{
	font-size: 0.9rem;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
}


.back-top{
	margin: auto;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color:#faff64;
	border: solid 1px black;
	border-radius: 10px;
	filter: drop-shadow(4px 4px rgb(53, 53, 53));
	max-width: fit-content;
}

.container-loop{
	display: flex;
	white-space: nowrap;
	width: 100%;
	/* height: clamp(3em, 10vw, 6em); */
	overflow: hidden;
	margin-top: 15px;
}

.loop-text{
	font-size: var(--base-size);
	font-family: var(--head2-font);
	animation: loopText 10s infinite linear;
	margin-left: 25px;
}

@keyframes loopText{
	from {transform: translateX(0);}
	to {transform: translateX(-100%);}
}

.description{
	display:none;
}

.decoding-head {
	display: flex;
	justify-content: center;
	border-bottom: solid 2px black;
	padding: 20px 15px;
}

.title-change:nth-child(1){animation-delay: 0.03s;}
.title-change:nth-child(2){animation-delay: 0.16s;}
.title-change:nth-child(3){animation-delay: 0.20s;}
.title-change:nth-child(4){animation-delay: 0.05s;}
.title-change:nth-child(5){animation-delay: 0.11s;}
.title-change:nth-child(6){animation-delay: 0.05s;}
.title-change:nth-child(7){animation-delay: 0.20s;}
.title-change:nth-child(8){animation-delay: 0.17s;}

.title-change {
	display: inline-block;
	animation: flicker 2s infinite;
	line-height: 1rem;
}

@keyframes flicker{
	0%{
		font-family: "DM Sans", sans-serif;
	}

	20% {
		font-family: "Pixelify Sans", sans-serif;
	}

	40% {
		font-family: 'Courier New', Courier, monospace;
	}

	60% {
		font-family: "Tangerine", serif;
	}

	80% {
		font-family: "ZCOOL QingKe HuangYou", serif;
	}

	100% {
		font-family: "Poppins", serif;
	}
}

.moving-bg-container{
	height:35px;
	width:100%;
	overflow:hidden;
	position:relative;
}
.moving-bg-container .moving-bg-1{
	animation: marquee 10s linear 5s infinite;
}
.moving-bg-container .moving-bg-2{
	animation: marquee 10s linear 10s infinite;
}
.moving-bg-container div {
	position:absolute;
	width:100%;
	left: 100%;
	display:flex;
	justify-content:space-between;
	/* height:40px; */
}

@keyframes marquee{
	0% {left: 100%;}
	/* 50%{left:-100%;} */
	100%{left:-100%;}
}

.nav-bar{
	padding: 0px 10px;
	margin: 10px 0px;
}

.first-paragraph{
	font-size: var(--firstpara-size);
	line-height: var(--firstpara-lh);
	padding: 20px 40px 30px 25px;
}

.author-block{
	background-color: #7CD6F1;
	border: solid black 1px;
	filter: drop-shadow(4px 4px rgb(53, 53, 53));
	padding: 10px;
	max-width: fit-content;
	margin-left: auto;
	margin-right: 10px;
	text-align: right;
}

hgroup{
	background-color: var(--orange);
}

ul li:nth-child(1){
	border: solid black 1px;
	border-radius: 10px;
	padding: 2px 10px;
}

ul li {
	border: solid rgb(255, 255, 255) 1px;
	border-radius: 10px;
	padding: 2px 10px;
}

blockquote {
	border: solid black 2px;
	margin: 20px;
	background-color: white;
	filter: drop-shadow(4px 4px rgb(53, 53, 53));
}

blockquote p{
	font-family: var(--head2-font);
	padding: 10px;
}

.container-wd{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.button-wd :hover{
	background-color: black;
	color:white;
}

#black-wd{
	background-color: black;
	color: white;
	text-align: right;
	padding-right: 5px;
}


/* blockquote {
	padding: 33px;
	font-weight: 300;
	line-height: 1.3rem;
	background-color: black;
	color: white;
	text-align: center;
} */

a{
	font-size: var(--link-size);
}

p{
	font-weight: 300;
	font-size: var(--base-size);
	font-family: var(--base-font);
	line-height: var(--base-lh);
}

section p{
	line-height: 1.6rem;
	margin: 10px;
	margin-bottom: 1.5rem;
}

ul{
	display:flex;
	height: 20px;
	justify-content: space-between;
	padding
}

ol{
	display: flex;
	justify-content: space-between;
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
	border: solid 1px black;
	border-radius: 10px;
	filter: drop-shadow(4px 4px rgb(53, 53, 53));
	/* background-color:#d7c6ff; */
	padding: 10px;
}

ol:nth-child(1){
	background-color:#d7c6ff;
}
ol:nth-child(2){
	background-color:#aec8ff;
}
ol:nth-child(3){
	background-color:#bdffc4;
}

section{
	margin: 25px;
}

/* 
section:nth-child(2) { 
	top: 30px;
	background-color:#d7c6ff;
}

section:nth-child(3) { 
	top: 90px;
	background-color:#aec8ff;
}

section:nth-child(4) { 
	top: 120px;
	background-color:#bdffc4;
}

section:nth-child(5) { 
	top: 120px;
	background-color:#ffbdff;
} */

/* header{
	background-color: #faff64;
	border: solid 1px black;
	border-radius: 10px;
	filter: drop-shadow(4px 4px rgb(53, 53, 53));
	padding: 20px;
	padding-bottom: 50px;
} */

body {
	font-family: "League Spartan", sans-serif;
	/* background: linear-gradient(#ffd3a4, #ffffff); */
	font-size: var(--base-size)
}

/* h2{
	font-size: 30px;
} */


h1{
	font-size: var(--header-size);
	border-top: solid 2px black;
	padding: var(--base-size);
}

h1,h2,h3,ol{
	font-family: var(--head2-font);
}

/* main{
	padding: var(--base-size);
} */

@media (min-width: 500px) {
	h1{
		font-size: 3.5rem;
		line-height: 1em;
	}

	p{
		font-size: 1rem;
	}

	section{
		margin-right: 20px;
		margin-left: 20px;
	}
}

@media (min-width: 700px) {
	h1{
		font-size: 4rem;
		line-height: 1em;
	}

	p{
		font-size: 1rem;
	}

	.first-paragraph{
		font-size: 1.1rem;
	}

	section{
		margin-right: 30px;
		margin-left: 30px;
	}

	blockquote{
		font-size: 1.5rem;
		padding: 50px;
	}
}


@media (min-width: 1024px) {

	
	h1{
		font-size: 6rem;
		line-height: 1em;
		padding-left: 30px;
	}

	p{
		font-size: 1.3rem;
	}

	ol{
		font-size: 1.7rem;
	}

	p{
		font-size: 1.2rem;
		line-height: 1.5rem;
	}

	.first-paragraph{
		font-size: 1.5rem;
		line-height: 1.3em;
		padding: 30px;
	}
	
	section{
		margin-right: 100px;
		margin-left: 100px;
		padding: 30px;
	}

	section p{
		margin-bottom: 20px;
		line-height: 2rem;
	}

	nav{
		font-size: 1.4rem;
	}

	blockquote{
		font-size: 2rem;
		line-height: 2rem;
	}
}

@media (min-width: 1280px) {
	.first-paragraph{
		font-size: 2.3rem;
	}

}