
html{
	scroll-behavior: smooth;
}

#footer p{
	font-size: var(--footer-size);
	line-height: var(--footer-lh);
}

#footer{
	text-align: center;
	margin: 30px 20px;
}


#jumptop{
	scroll-behavior: smooth;
	background-color: #fff5f5;
}


.container-backtop{
	margin-top: 50px;
	display: flex;
	justify-content: center;
}

.container-sub{
	display: flex;
}

.nav-sub{
	display: flex;
	flex-direction:column;
	background-color: var(--yellow);
	border: solid black 2px;
	border-bottom: none;
	justify-content: center;
	vertical-align: middle;
	padding: 20px 20px;
}

.nav-button{
	background-color: var(--orange);
	border-radius: 10px;
	border: solid black 1px;
	filter: drop-shadow(4px 4px rgb(53, 53, 53));
	text-align: center;
	padding: 10px 5px;
}

.nav-sub a{
	margin-bottom: 30px;
}

.back-top{
	padding: 5px 10px 5px 10px;
	background-color: var(--yellow);
	border: solid 1px black;
	border-radius: 10px;
	filter: drop-shadow(4px 4px rgb(53, 53, 53));
	max-width: fit-content;
}

.container-loop{
	display: flex;
	white-space: nowrap;
	width: 100%;
	/* height: clamp(3em, 10vw, 6em); */
	overflow: hidden;
	margin-top: 15px;
}

.loop-text{
	animation: loopText 5s infinite linear;
	margin-left: 25px;
	font-family: var(--head3-font);
}

@keyframes loopText{
	from {transform: translateX(0);}
	to {transform: translateX(-100%);}
}


.description{
	display:none;
}

.decoding-head {
	display: flex;
	justify-content: center;
	border-bottom: solid 2px black;
	padding-bottom: 15px;
	padding-top: 20px;
	font-size: 20px;
}

.title-change:nth-child(1){animation-delay: 0.03s;}
.title-change:nth-child(2){animation-delay: 0.16s;}
.title-change:nth-child(3){animation-delay: 0.20s;}
.title-change:nth-child(4){animation-delay: 0.05s;}
.title-change:nth-child(5){animation-delay: 0.11s;}
.title-change:nth-child(6){animation-delay: 0.05s;}
.title-change:nth-child(7){animation-delay: 0.20s;}
.title-change:nth-child(8){animation-delay: 0.17s;}

.title-change {
	display: inline-block;
	animation: flicker 2s infinite;
	line-height: 1rem;
}

@keyframes flicker{
	0%{
		font-family: "DM Sans", sans-serif;
	}

	20% {
		font-family: "Pixelify Sans", sans-serif;
	}

	40% {
		font-family: 'Courier New', Courier, monospace;
	}

	60% {
		font-family: "Tangerine", serif;
	}

	80% {
		font-family: "ZCOOL QingKe HuangYou", serif;
	}

	100% {
		font-family: "Poppins", serif;
	}
}

.moving-bg-container{
	height:35px;
	width:100%;
	overflow:hidden;
	position:relative;
}
.moving-bg-container .moving-bg-1{
	animation: marquee 10s linear 5s infinite;
}
.moving-bg-container .moving-bg-2{
	animation: marquee 10s linear 10s infinite;
}
.moving-bg-container div {
	position:absolute;
	width:100%;
	left: 100%;
	display:flex;
	justify-content:space-between;
	height:40px;
}

@keyframes marquee{
	0% {left: 100%;}
	/* 50%{left:-100%;} */
	100%{left:-100%;}
}

.nav-bar{
	padding: 0px 10px;
	margin: 10px 0px;
}

.first-paragraph{
	font-size: var(--firstpara-size);
	line-height: var(--firstpara-lh);
	padding: 20px 40px 30px 25px;
}

.author-block{
	background-color: var(--pink);
	border: solid black 1px;
	filter: drop-shadow(4px 4px rgb(53, 53, 53));
	padding: 10px;
	max-width: fit-content;
	margin-left: auto;
	margin-right: 15px;
	text-align: right;
}

hgroup{
	background-color: var(--green);
}

ul li:hover{
	border: solid black 1px;
	border-radius: 10px;
	padding: 2px 10px;
	background-color: black;
	color:white;
}

ul li:nth-child(1){
	border: solid black 1px;
	border-radius: 10px;
	padding: 2px 10px;
}

ul li {
	border: solid rgb(255, 255, 255) 1px;
	border-radius: 10px;
	padding: 2px 10px;
}

blockquote {
	font-size: var(--blockq-size);
	line-height: var(--blockq-lh);
	font-weight: 400;
	/* font-style: italic; */
	background-color: black;
	color: white;
	padding: 40px 30px;
	text-align: center;
}

a{
	font-size: var(--link-size);
}

p{
	font-weight: 300;
	font-size: var(--base-size);
	font-family: var(--base-font);
	line-height: var(--base-lh);
}

section p{
	line-height: var(--base-lh);
	margin: 20px 10px;
}

section{
	margin: 15px;
}

aside p{
	line-height: var(--aside-lh);
	font-size: var(--aside-size);
	font-style: italic;
	color: var(--pink);
	margin: 35px;
}
 

ul{
	display:flex;
	height: 20px;
	justify-content: space-between;
}

ol{
	display: flex;
	justify-content: space-between;
	font-size: var(--sub-size);
	border: solid 1px black;
	border-radius: 10px;
	filter: drop-shadow(4px 4px rgb(53, 53, 53));
	padding: 10px;
	max-width: 900px;
	margin: auto;
}

ol:nth-child(1){
	background-color:#d7c6ff;
}
ol:nth-child(2){
	background-color:#aec8ff;
}
ol:nth-child(3){
	background-color:#bdffc4;
}

body {
	font-family: "League Spartan", sans-serif;
	font-size: var(--base-size);
}

h1{
	font-size: calc(var(--header-size) * 1.2);
	border-top: solid 2px black;
	padding: var(--base-size);
}

h1,h2,h3,ol{
	font-family: var(--head3-font);
}

main{
	padding: var(--base-size);
}

@media (max-width:900px) {
	.nav-sub {
		display: none;
	}
}

@media (min-width: 500px) {
	h1{
		font-size: calc(var(--header-size)* 1.2);
		line-height: calc(var(--header-lh)* 1.5);
	}

	section p{
		margin: 20px 20px;
	}
}

@media (min-width: 700px) {
	h1{
		font-size: calc(var(--header-size)* 1.6);
		line-height: calc(var(--header-lh)* 1.8);
	}

	p {
		font-size: calc(var(--base-size)* 1);
	}

	ol {
		margin-bottom: 40px;
	}

	section{
		margin: 10px 50px 20px;
	}

	section p{
		margin: 20px 30px;
		line-height: calc(var(--base-lh)* 1.2);
	}

	aside p{
		line-height: calc(var(--aside-lh)*1.4);
		font-size: calc(var(--aside-size)*1.2);
		margin: auto;
	}

	blockquote{
		text-align: center;
		font-size: calc(var(--blockq-size)*1.3);
		padding: 70px;
	}

	aside p{
		margin: 45px;
	}

	.first-paragraph{
		font-size: calc(var(--firstpara-size)*1.1);
		padding: 30px 50px 40px 30px;;
	}

	#footer p{
		font-size: calc(var(--footer-size) * 1.2);
	}
	
}


@media (min-width: 1000px) {

	h1{
		font-size: calc(var(--header-size)* 2.2);
		line-height: calc(var(--header-lh)* 2.5);
		padding: 50px;
	}

	p {
		font-size: calc(var(--base-size)* 1.2);
	}

	section p{
		max-width: 800px;
		margin: auto; 
		padding: 20px 0px;
		line-height: calc(var(--base-lh)* 1.4);
	}

	ol{
		font-size: calc(var(--sub-size)*1.3);
		margin-bottom: 30px;
	}

	.nav-sub{
		padding: 20px 50px;
	}

	.first-paragraph{
		font-size: calc(var(--firstpara-size)*1.5);
		line-height: calc(var(--firstpara-lh)*1.5);
		padding: 30px 40px 40px 50px;
	}	

	.decoding-head{
		font-size: calc(var(--base-size)*1.5);
		padding: 30px;
	}

	.author-block p{
		padding: 5px;
	}

	section{
		margin: 20px 50px;
	}

	blockquote{
		font-size: calc(var(--blockq-size)*1.3);
		padding: 50px;
	}
	aside p{
		font-size: calc(var(--firstpara-size)*1.5);
		font-weight: 400;
		text-align: center;
	}

	a {
		font-size: calc(var(--link-size)*1.25);
	}

	#footer p{
		font-size: calc(var(--footer-size)*1.3);
		line-height: calc(var(--footer-lh)*1.4);
	}

	.loop-text p{
		font-size: calc(var(--base-size)* 7);
	}

}