@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
	--base-size: 1.2rem;
	--yellow: #faff64;
	--orange: #F1977C;
	--pink: #ff7eb4;
	--green: #64ff76;
	--purple: #d7c6ff;
}

/* :root {
	--base-size: 18px;
} */

p {
	font-size: var(--base-size);
}

/* * {margin-top: 0.5em;} */