@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
/* fontsize */
	--header-size: 2.6rem;
	--sub-size: 1.5rem;
	--firstpara-size: 1.5rem;
	--base-size: 1.25rem;
	--footer-size: 1rem;
	--link-size: 1.2rem;
	--blockq-size: 1.3rem;
	--aside-size: 1.5rem;


/* line-height */
	--base-lh: 1.6rem;
	--firstpara-lh: 1.7rem;
	--sub-lh: 1.9rem;
	--header-lh: 2.6rem;
	--footer-lh: 1.2rem;
	--blockq-lh: 1.5rem;
	--aside-lh: 1.7rem;

/* padding */
	--firstpara-pad: 20px 40px 30px 25px;
	
/* font	 */
	--base-font: "League Spartan", sans-serif;
	--head1-font: "Lexend", sans-serif;
	--head2-font: "Pixelify Sans", sans-serif;
	--head3-font: "ZCOOL QingKe HuangYou", serif;


/* Color */
	--yellow: #faff64;
	--orange: #F1B47D;
	--pink: #ff7eb4;
	--green: #64ff76;
	--purple: #d7c6ff;
	--blue: #7CD6F1;

/* pastelcolor	 */
	--lightgreen: #bdffc4;
	--lightpurple: #d7c6ff;
	--lightblue: #aec8ff;


.underline{
	text-decoration: black underline;
}

.bold{
	font-weight: 400;
}

.italic{
	font-style: italic;
}

.purple {
	color: var(--purple);
}

.orange{
	color: var(--orange);
}