
.title-change:nth-child(1){animation-delay: 0.03s;}
.title-change:nth-child(2){animation-delay: 0.05s;}
.title-change:nth-child(3){animation-delay: 0.20s;}
.title-change:nth-child(4){animation-delay: 0.09s;}
.title-change:nth-child(5){animation-delay: 0.11s;}
.title-change:nth-child(6){animation-delay: 0.05s;}
.title-change:nth-child(7){animation-delay: 0.15s;}
.title-change:nth-child(8){animation-delay: 0.17s;}

.title-change {
	display: inline-block;
	animation: flicker 2s infinite;
	line-height: 1rem;
}

@keyframes flicker{
	0%{
		font-family: "DM Sans", sans-serif;
	}

	20% {
		font-family: "Pixelify Sans", sans-serif;
	}

	40% {
		font-family: 'Courier New', Courier, monospace;
	}

	60% {
		font-family: "Tangerine", serif;
	}

	80% {
		font-family: "ZCOOL QingKe HuangYou", serif;
	}

	100% {
		font-family: "Poppins", serif;
	}
}



.highlight-black{
	background-color: whitesmoke;
	/* text-decoration: underline; */
	font-weight: 500;
}

.star{
	font-family: "Coda", system-ui;
	font-size: 5rem;
	animation: spin 3s linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes move {
	0% {
		/* position: relative; */
		position: relative;
		top: 0;
		left: 0;
		/* transform means change */
	}

	100% {
		/* position: relative; */
		position: relative;
		top: 20%;
		left: 50%;
	}
}

.star:hover {
	animation-name: rotate;
	animation-duration: 0.7s;
	animation-direction: reverse;
}

.circle{
	font-family: "Coda", system-ui;
	font-size: 5rem;
	animation: move 3s linear infinite;
}

.hollow-circle{
	font-size: 5rem;
	text-align: right;
}

.first-paragraph{
	font-size: 1.3rem;
}

/* div{
	display: flex;
}  */

hgroup {
	color: white;
	/* border-bottom: solid 1px black; */
}

ul{
	display:flex;
	height: 20px;
	justify-content: space-between;
}

ol{
	justify-content: space-between;
}

blockquote{
	font-family: "DM Sans", sans-serif;
	font-style: italic;
	text-align: right;
	padding: 30px;
	margin-bottom: 30px;
}

h2 {
	font-weight: 500;
	font-size: 1.5rem;
}

h1 {
	font-family: "DM Sans", sans-serif;
	font-size: 2.7rem;
	font-weight: 500;
	line-height: 2.8rem;
	border-top: solid 1px black;
	padding-top: 10px;
	margin-bottom: 100px;

}

header {
	margin-bottom: 80px;
	padding: 18px;
}

section:nth-child(2){
	padding: 20px;
	font-size: 1rem;
	background-color: rgb(211, 216, 186);
	border: solid 1px black;
	border-radius: 20px;
	filter: drop-shadow(4px 4px rgb(53, 53, 53));
}


section:nth-child(3){
	top: 150px;
	padding: 20px;
	font-size: 1rem;
	background-color: rgb(211, 216, 186);
	border: solid 1px black;
	border-radius: 20px;
	filter: drop-shadow(4px 4px rgb(53, 53, 53));
}

section:nth-child(4){
	top: 230px;
	padding: 20px;
	font-size: 1rem;
	background-color: rgb(211, 216, 186);
	border: solid 1px black;
	border-radius: 20px;
	filter: drop-shadow(4px 4px rgb(53, 53, 53));
}

/* blockquote {
	position: sticky;
	top: 100px;
} */

footer {
	text-align: left;
	font-size: 0.9rem;
	padding: 5px;
	color: whitesmoke;
}

section{
	position: sticky;
	top:50px;
}

article{
	background-color: black;
	padding: 18px;
}

body{
	font-family: "DM Sans", sans-serif;
	background-color: #D4F131;
	/* background-color: #f1daed; */
}

p{
	font-family: 'Courier New', Courier, monospace;
	color: black;
	line-height: 1.2rem;
}

@media (min-width: 500px) {
	h1{
		font-size: 3.5rem;
		line-height: 1em;
	}

	p{
		font-size: 1rem;
	}

	section{
		margin-right: 20px;
		margin-left: 20px;
	}
}

@media (min-width: 700px) {
	h1{
		font-size: 4rem;
		line-height: 1em;
	}

	p{
		font-size: 1rem;
	}

	.first-paragraph{
		font-size: 1.1rem;
	}

	section{
		margin-right: 30px;
		margin-left: 30px;
	}

	blockquote{
		font-size: 1.5rem;
		padding: 50px;
	}
}


@media (min-width: 1000px) {
	h1{
		font-size: 5.7rem;
		line-height: 1em;
		padding-left: 30px;
	}

	p{
		font-size: 1.1rem;
	}

	.first-paragraph{
		font-size: 1.5rem;
		line-height: 1.5em;
		padding: 30px;
	}

	div{
		padding: 30px;
	}

	section{
		margin-right: 50px;
		margin-left: 50px;
	}

	nav{
		font-size: 1.4rem;
	}

	blockquote{
		font-size: 2rem;
		padding: 70px;
		margin: 50px;
	}
}

/* .title-move1{
	transition: all 0.5s ease;
} */

/* @media (max-width:700px) {
	.title-move1 {
		animation: moveWord 2s forwards;
	}
	@keyframes moveWord { 
		0% {
			/* position: relative; */
			position: relative;
			top: 0;
			left: 0;
			/* transform means change */
		}

		/* 100% {
			/* position: relative; */
			position: relative;
			top: 20%;
			left: 40%;
		} */
	}
} */
