
.modern-style{
	font-family: "Bodoni Moda", serif;
	color: rgb(236, 67, 37);
}

.first-paragraph{
	font-family: "Bodoni Moda", serif;
	font-weight: 300;
	font-size: 1.3rem;
	margin-bottom: 160px;
}

.brown{
	color: rgb(227, 134, 21);
}

.em{
	font-weight: 500;
}

section{
	margin-bottom: 50px;
}

section:nth-child{
	max-width: 700px;
}

li:nth-child(2){
	padding-left: 10px;
	background-color: white;
}

li:nth-child(4){
	padding-left: 10px;
	background-color: white;
}

li:nth-child(6){
	padding-left: 10px;
	background-color: white;
}

ol li:nth-child(1) {
	color: rgb(236, 67, 37);
}

ol:nth-child() { justify-content: start; }

ol{
	font-size: 2.5rem;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
}

blockquote{
	display: none;
}

div{
	display:none;
}

ul{
	display:flex;
	height: 20px;
	justify-content: space-between;
}

h2{
	font-size: 2rem;
}

h1{
	font-size: 2.6rem;
	line-height: 1.2em;
	margin-bottom: 120px;
}

p{
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	max-width: 700px;
}

body {
	font-family: "Poppins", sans-serif;
	padding: 18px;
}

@media (min-width: 750px) {
	h1{
		font-size: 3.5rem;
		padding-left: 20px;
	}

	.first-paragraph {
		font-size: 1.5rem;
	}

	p{
		padding: 20px;
	}

	ol{
		padding: 20px;
	}

	nav{
		padding: 20px;
	}
}