
.highlight-black{
	background-color: whitesmoke;
	/* text-decoration: underline; */
	font-weight: 500;
}
.star{
	font-family: "Coda", system-ui;
	font-size: 5rem;
	animation: 3s linear 1s infinite running slidein;
}

body{
	font-family: "DM Sans", sans-serif;
	background-color: #D4F131;
}


p{
	font-family: 'Courier New', Courier, monospace;
	color: black;
}

hgroup {
	color: white;
	/* border-bottom: solid 1px black; */
}

ul{
	display:flex;
	height: 20px;
	justify-content: space-between;
}

blockquote{
	font-family: "DM Sans", sans-serif;
	font-style: italic;
	text-align: right;
	padding: 30px;
	margin-bottom: 30px;
}

h2 {
	font-weight: 500;
	font-size: 1.5rem;
}

h1 {
	font-family: "DM Sans", sans-serif;
	font-size: 2.7rem;
	font-weight: 500;
	line-height: 2.8rem;
	border-top: solid 1px black;
	padding-top: 10px;
	margin-bottom: 100px;

}

header {
	margin-bottom: 100px;
	padding: 18px;
}

section:nth-child(2){
	padding: 20px;
	font-size: 1rem;
	background-color: rgb(211, 216, 186);
	border: solid 1px black;
	border-radius: 20px;
	filter: drop-shadow(4px 4px rgb(53, 53, 53));
}


section:nth-child(3){
	background-color: black;
	padding: none;
	margin: none;
}

article{
	background-color: black;
	padding: 18px;
}