p{
	color: black;
}

hgroup {
	background-color: #D4F131;
	border-bottom: solid 1px black;
}

li {
	display: none;
}

h1 {
	font-family: "DM Serif Display", serif;
	font-size: 36px;
	font-weight: 500;
	border-top: solid 1px black;
	margin-top: 20px;
	margin-bottom: 50px;
}

body{
	font-family: "DM Sans", sans-serif;
	background-color: #D4F131;
}